.aside {
    padding: 10px;
    background-color: #5f7255;
    grid-area: aside;
}

.aside__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.aside__link {
    display: block;
    margin-bottom: 15px;
    font-size: 30px;
    text-decoration: none;
}

.active {
    color: tomato;
}
