.img {
    width: 100%;
    margin-bottom: 20px;
}

.img img {
    display: block;
    width: 100%;
    height: 500px;
    background-color: #ccc;
    object-fit: cover;
    object-position: center;
}

.description{
    padding: 10px;
}