.wrapper {
    display: grid;
    width: calc(100% - 100px);
    max-width: 1600px;
    min-height: 100vh;
    margin: 0 auto;

    grid-template-rows: 100px 1fr;
    grid-template-columns: 300px 1fr;
    grid-gap: 5px;
    grid-template-areas:
            'header header header'
            'aside main main';
}

.header {
    background-color: #5f7255;
    padding: 10px;
    grid-area: header;
}

.header img {
    display: block;
    width: 80px;
    height: 80px;
}

.aside {
    padding: 10px;
    background-color: #5f7255;

    grid-area: aside;
}

.main {
    background-color: #5f7255;
    grid-area: main;
}


.profile__img{
    margin-bottom: 20px;
    width: 100%;
}
.profile__img img {
    display: block;
    width: 100%;
}
