.wrap {
    display: flex;
}

.dialogs {
    border-right: 1px solid #fff;
    padding: 10px;
}

.dialogs__list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 200px;
}

.messages {
    padding: 10px;
}

.messages__list {
    margin: 0;
    padding: 0;
    list-style: none;
}